{% extends 'base/adminbase.html' %}
{% block 'title' %}Edit Project{% endblock %}
{% block 'body' %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-danger">Edit - {{ data.client }}</h4>
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="client">Client</label>
                            <input type="text" value="{{ data.client }}" class="form-control" id="client" name="client"
                                   aria-describedby="clientHelp" required placeholder="Enter Client Detail">
                            <small id="clientHelp" class="form-text text-muted">Client is basically taken as the
                                Project title.</small>
                        </div>
                        <div class="form-group">
                            <label for="location">Location</label>
                            <input type="text" value="{{ data.location }}" class="form-control" required id="location"
                                   name="location"
                                   placeholder="Enter Location of the Project"/>
                        </div>
                        <div class="form-group">
                            <label for="nature">Nature of Work</label>
                            <textarea class="form-control" id="nature" required name="nature"
                                      aria-describedby="natureHelp"
                                      rows="3" placeholder="Describe nature of project here..."></textarea>
                            <small id="clientHelp" class="form-text text-muted">Provide the full details of the
                                project here.</small>
                        </div>
                        <div class="form-group">
                            <label for="contractno">Contract Number</label>
                            <input type="text" class="form-control" value="{{ data.contract_number }}" required
                                   id="contractno" name="contractno"
                                   placeholder="Enter Contract Number...">
                        </div>
                        <div class="form-group">
                            <label for="valueofwork">Value of Work</label>
                            <input type="text" class="form-control" value="{{ data.value_of_work }}" required
                                   id="valueofwork" name="valueofwork"
                                   aria-describedby="vwHelp" placeholder="Enter Value of work in Numbers...">
                            <small id="vwHelp" class="form-text text-muted">Provide the estimated value of the work
                                here.</small>
                        </div>
                        <div class="form-group">
                            <label for="period">Contract Period</label>
                            <input type="number" class="form-control" value="{{ data.contract_period }}" required
                                   min="1" max="100" id="period"
                                   name="period"
                                   placeholder="Enter contract period in months">
                        </div>
                        <div class="form-group">
                            <label for="startdate">Date of Start</label>
                            <input type="date" class="form-control" required id="startdate" name="startdate"
                                   placeholder="Starting Date...">
                        </div>
                        <div class="form-group">
                            <label for="enddate">Date of complete</label>
                            <input type="date" required class="form-control" onclick="console.log(document.getElementById('startdate').value)" id="enddate" name="enddate"
                                   placeholder="Completion Date...">

                        </div>
                        <div class="form-group" id="percentageofcmplt">
                            <label for="percent">Percentage of complete</label>
                            <input type="number" value="{{ data.percentage_of_complete }}" class="form-control"
                                   id="percent" name="percent"
                                   placeholder="Enter Percentage Number">
                        </div>
                        <div class="custom-control custom-checkbox form-group">
                            <input type="hidden" name="iscompleted" class="custom-control-input" value="0">
                            <input type="checkbox" name="iscompleted" class="custom-control-input"
                                   onclick="showMe('balancevalue');" value="1" id="iscompleted">
                            <label class="custom-control-label" for="iscompleted">Is completed</label>
                            <script type="text/javascript">
                                function showMe(box) {
                                    var chboxs = document.getElementsByName("iscompleted");
                                    var vis = "none";
                                    var visp = "block";
                                    var valueofp = {{ data.percentage_of_complete }};
                                    for (var i = 0; i < chboxs.length; i++) {
                                        if (chboxs[i].checked) {
                                            vis = "block";
                                            visp = "none";
                                            valueofp = 100;
                                            break;
                                        }
                                    }
                                    document.getElementById(box).style.display = vis;
                                    document.getElementById('percent').value = valueofp;
                                    document.getElementById('percentageofcmplt').style.display = visp;
                                }
                            </script>
                        </div>
                        <div id="balancevalue" style="display: none">
                            <div class="form-group">
                                <label for="completedwork">Value of Completed Work</label>
                                <input type="text" class="form-control" value="{{ data.value_of_completed_work }}"
                                       required
                                       onkeyup="document.getElementById('balance').value=document.getElementById('valueofwork').value-this.value;"
                                       id="completedwork"
                                       name="completedwork"
                                       placeholder="Value of completed work">
                            </div>
                            <div class="form-group">
                                <label for="balance">Balance Value</label>
                                <input type="text" value="{{ data.balance_value }}" class="form-control" required
                                       id="balance" name="balance"
                                       placeholder="Balance of Value">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="coverimg">Cover image</label>
                            <input type="file" name="coverimg" class="form-control" id="coverimg">
                        </div>
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Are you sure want to edit?')" class="btn btn-primary">Edit</button>
                        <a href="{% url 'adminprojects' %}" type="submit" onclick="return confirm('Are you sure want to Cancel?')" class="btn btn-danger">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-info">Images</h3><br>
                    <div class="row">
                        <script type="text/javascript">
                            var count = 0;
                        </script>
                        {% for image in images %}
                            <div class="col-md-3">
                                <div class="card">
                                    <img src="{{ MEDIA_URL }}{{ image.image.url }}" height="150px" class="card-img-top"
                                         alt="Placeholder">
                                    <div class="card-body">
                                        <a href="{% url 'delprojectimages' image.id %}"
                                           onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">count++;</script>
                        {% endfor %}
                    </div>
                    <h6 id="imageinfo"></h6>
                    <script type="text/javascript">
                        if (count === 0) {
                            document.getElementById('imageinfo').innerHTML = 'There are no images here.';
                        } else {
                            document.getElementById('imageinfo').innerHTML = 'There are ' + count + ' images here.';
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" async>
        document.addEventListener('DOMContentLoaded', function () {
            var checkboxdata = "{{ data.is_completed }}";
            if (checkboxdata !== "False") {
                document.getElementsByName('iscompleted')[1].checked = true;
                showMe('balancevalue');
            }
            document.getElementById('nature').value = "{{ data.nature_of_work }}";
            document.getElementById('startdate').value = "{{ start }}";
            document.getElementById('enddate').value = "{{ end }}";
        });
    </script>
{% endblock %}