{% extends 'base/landingbase.html' %}
{% load static %}
{% block 'styles' %}
    <link rel="stylesheet" href="{% static 'landingpage/css/lightbox.min.css' %}">
    <script src="{% static 'landingpage/js/lightbox-plus-jquery.min.js' %}"></script>
    <style>
        .gallery{
            transition: .5s;
        }
        .gallery a:hover{
            filter: grayscale(100%);
            transform: scale(1.1);
        }
    </style>

{% endblock %}
{% block 'title' %}Company Certificates{% endblock %}
{% block 'body' %}
    <aside id="pycemon-hero">
        <div class="flexslider">
            <ul class="slides">
                {% for f in flex %}
                    <li style="background-image: url({{ f.image.url }});">
                {% endfor %}
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 col-md-offset-2 slider-text">
                            <div class="slider-text-inner text-center">
                                <h1>Company Certificates</h1>
                                <h2><a href="{% url 'home' %}">Home</a> - Certificates</h2>
                            </div>
                        </div>
                    </div>
                </div>
                </li>
            </ul>
        </div>
    </aside>
    <div id="pycemon-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center pycemon-heading animate-box">
                    <h2>Certificates</h2>
                    <p>All the company Registration Papers, Tax Clearance Documents, Certificates of the Company can be viewed here.</p>
                </div>
            </div>
            <div class="row text-center">
                {% for c in cert %}
                    <div class="col-md-6">
                        <div class="gallery">
                            <a href="{{ c.image.url }}" data-lightbox="mygallary" data-title="{{ c.title }}" ><img
                                    src="{{ c.image.url }}" alt="{{ c.title }}" width="100%"></a>
                                <div class="title"><br><br>
                                    <h3>{{ c.title }}</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}